@model Vaccination.Models.DTO.PersonDTO
@{
    Layout = "_Layout";
}

<div class="form-group float-right">
    <a asp-controller="Person" asp-action="Index" class="btn btn-dark">Return to list</a>
</div>
<h2>Edit person data</h2>



<h4>Person information</h4>
<hr>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Person">
            <div asp-validation-summary="All" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Cpf" class="control-label">CPF</label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AddressDTO.CEP" class="control-label"></label>
                <input asp-for="AddressDTO.CEP" class="form-control" />
                <span asp-validation-for="AddressDTO.CEP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressDTO.Street" class="control-label"></label>
                <input asp-for="AddressDTO.Street" class="form-control" />
                <span asp-validation-for="AddressDTO.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressDTO.Number" class="control-label"></label>
                <input asp-for="AddressDTO.Number" type="number" class="form-control" />
                <span asp-validation-for="AddressDTO.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressDTO.Complement" class="control-label"></label>
                <input asp-for="AddressDTO.Complement" class="form-control" />
                <span asp-validation-for="AddressDTO.Complement" class="text-danger"></span>
            </div>  
            <div class="form-group">
                <label asp-for="AddressDTO.City" class="control-label"></label>
                <input asp-for="AddressDTO.City" class="form-control" />
                <span asp-validation-for="AddressDTO.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressDTO.State" class="control-label"></label>
                <input asp-for="AddressDTO.State" class="form-control" />
                <span asp-validation-for="AddressDTO.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" method="POST" value="Save" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidatioNscriptsPartial");}
}